<?php

/*
  Copyright (C) <{$year}>  {$author}  <{$email}>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License, version 2, as
  published by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

class {$prefix}control_Control{
    
    /*
     * Model Node
     * 
     * @var object 
     * @access protected 
     */
    protected $modelNode;
    
    /*
     * View Node
     * 
     * @var object 
     * @access protected
     */
    protected $viewNode;
    
    /*
     * Constructor
    */
    function __construct() {
        
        //create Model node
        $this->modelNode = new {$prefix}model_Model($this);
        //create View node
        $this->viewNode = new {$prefix}view_View($this);
        //notify nodes about each other
        $this->viewNode->setModelNode($this->modelNode);
        $this->modelNode->setViewNode($this->viewNode);
    }  
}

?>