<?php

/*
  Copyright (C) <{$year}>  {$author}  <{$email}>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License, version 2, as
  published by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

/*
 * Initiate main plugin class
 * 
 */
function {$prefix}{$plugin_name}_init() {
    static $main;

    $main = new {$prefix}{$plugin_name}();
}

/**
 * Autoloader
 * Expecting class name in next format:
 * {$prefix}[underscore seperated folder path to file]_[class].
 * For example - {$prefix}model_Model
 * 
 * @param string Class name
 */
function {$prefix}{$plugin_name}_autoload($class_name) {

    $parts = explode('_', $class_name);

    if (array_shift($parts) . '_' == {$plugin_name_upper}_PREFIX) {
        $path = {$plugin_name_upper}_BASE_DIR . strtolower(implode(DIRECTORY_SEPARATOR, $parts) . '.php');
        if (file_exists($path)) {
            require($path);
        }
    }
}

?>