=== {$plugin_label} ===
Contributors: {$contributors}
Donate link: {$donation}
Tags: {$tags}
Requires at least: {$required}
Tested up to: {$tested}
Stable tag: {$version}

{$short_description}

== Description ==

{$long_description}

== Installation ==

{$installation}

== Frequently Asked Questions ==

{$questions}

== Screenshots ==

{$screenshots}

== Changelog ==

{$changelog}

== Arbitrary section ==

{$arbitrary}

== A brief Markdown Example ==

{$brief}